@charset "UTF-8";
:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --general-font-size: 14px;
  /* Text colors */
  --main-txt-cl: #212121;
  --accent-txt-cl: #2196f3;
  --white-cl: #ffffff;
  --grey-cl: #757575;
  --black-cl: #000000;
  --contact-cl: rgba(255, 255, 255, 0.6);
  --color-wrapper: #eeeeee;
  --active-accent-color: #1a81bd;
  /* hero-button-vars */
  --hero-button-text: #ffffff;
  /* background-color */
  --Color-background: #2f303a;
  /* transion */
  --modal-transition: 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indexCurrentGap: 30px;
  --numberOfIndentations: 3;
  --indexNumberOfCards: 4;
  --portfolioCurrentGap: 30px;
  --portfolioNumberOfCards: 3;
}

textarea {
  resize: none;
}

span {
  color: var(--black-cl);
}

ul,
li {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}

.font-style {
  font-style: normal;
}

/* !!!!!!!!!!card set!!!!!! */
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indexCurrentGap);
}

.flex-basis {
  -ms-flex-preferred-size: calc((100% - var(--indexCurrentGap) * var(--numberOfIndentations)) / var(--indexNumberOfCards));
      flex-basis: calc((100% - var(--indexCurrentGap) * var(--numberOfIndentations)) / var(--indexNumberOfCards));
}

.portfolio__item {
  -ms-flex-preferred-size: calc((100% - var(--portfolioCurrentGap) * (var(--numberOfIndentations) - 1)) / var(--portfolioNumberOfCards));
      flex-basis: calc((100% - var(--portfolioCurrentGap) * (var(--numberOfIndentations) - 1)) / var(--portfolioNumberOfCards));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: var(--general-font-size);
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: var(--white-cl);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.uppertitle {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-cl);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--modal-transition), visibility var(--modal-transition);
  transition: opacity var(--modal-transition), visibility var(--modal-transition);
}

/* коли сховано */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* modal window */
.modal {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--modal-transition), visability var(--modal-transition), -webkit-transform var(--modal-transition);
  transition: opacity var(--modal-transition), visability var(--modal-transition), -webkit-transform var(--modal-transition);
  transition: transform var(--modal-transition), opacity var(--modal-transition), visability var(--modal-transition);
  transition: transform var(--modal-transition), opacity var(--modal-transition), visability var(--modal-transition), -webkit-transform var(--modal-transition);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__button--close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  cursor: pointer;
  outline-color: transparent;
}

.modal__icon--close .modal__button--close:focus,
.modal__button--close:hover {
  -webkit-transition: var(--transition);
  transition: var(--transition);
  fill: var(--accent-txt-cl);
}

.modal__title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal__client--field {
  margin-bottom: 10px;
}

.modal__privacy--field {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 14px;
  padding-right: 11px;
}

/* !!поля для вводу в модалці */
.modal__label {
  font-family: var(--main-font);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input--wrap {
  position: relative;
}

.modal__input--client {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline-color: transparent;
}
.modal__input--client:focus {
  color: var(--accent-txt-cl);
  border: 3px solid var(--accent-txt-cl);
  border-radius: 4px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.modal__input--icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  /* щоб фокус на вікні вводу ціпляв зміну 
  кольору іконки  */
}
.modal__input--client:focus + .modal__input--icon {
  fill: var(--accent-txt-cl);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.modal__comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  font-family: var(--main-font);
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline-color: transparent;
}
.modal__comment:focus {
  color: var(--accent-txt-cl);
  border: 3px solid var(--accent-txt-cl);
  border-radius: 4px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.privacy__checkbox--text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy__checkbox--text .privacy__check--span {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid var(--black-cl);
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: transparent;
}

/* при натисканні на галочку відбувається зміна кольору бекграунда та галочки */
.privacy__input--checkbox:checked + .privacy__checkbox--text .privacy__check--span {
  background-color: var(--accent-txt-cl);
  border-color: transparent;
  fill: var(--white-cl);
  -webkit-transition: var(--modal-transition);
  transition: var(--modal-transition);
}

/* при фокусі буде краситись рамочка */
.privacy__input--checkbox:focus + .privacy__checkbox--text .privacy__check--span,
.privacy__input--checkbox:hover + .privacy__checkbox--text .privacy__check--span {
  border-color: var(--accent-txt-cl);
  -webkit-transition: var(--modal-transition);
  transition: var(--modal-transition);
}

.privacy__check--icon {
  position: absolute;
}

.checkbox__span--text {
  color: var(--accent-txt-cl);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  padding-left: 5px;
}

.privacy__button--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.privacy__button--submit {
  width: 200px;
  height: 50px;
  color: var(--white-cl);
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid var(--accent-txt-cl);
  padding: 10px 52px;
  cursor: pointer;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
}

.portfolio__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__button--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  line-height: 1.625;
  -webkit-transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), -webkit-box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.portfolio__button--dark {
  color: var(--main-txt-cl);
}
.portfolio__button--dark:hover, .portfolio__button--dark:focus {
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__button--current {
  color: var(--white-cl);
  background-color: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__wrapper--name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__wrapper--about {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio__item:hover {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio__card--text {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
  overflow: auto;
}
.portfolio__item:hover .portfolio__card--text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__card--wrap {
  position: relative;
  overflow: hidden;
}

.wrapper {
  padding: 20px 24px;
  border: 1px solid var(--color-wrapper);
  border-top: none;
}

.header {
  width: 100%;
  background-color: var(--white-cl);
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-bottom: 25px;
  padding-top: 24px;
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: var(--accent-txt-cl);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__logo--span {
  color: #000000;
}

.header__nav {
  margin-right: 305px;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.nav__link {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--black-cl);
  text-decoration: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-txt-cl);
  fill: var(--accent-txt-cl);
}

.nav__link--current {
  color: var(--accent-txt-cl);
}
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.contact__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.contact__item {
  gap: 10px;
  fill: var(--grey-cl);
  color: var(--grey-cl);
  -webkit-transition: fill var(--transition), color var(--transition);
  transition: fill var(--transition), color var(--transition);
}
.contact__item:hover, .contact__item:focus {
  color: var(--accent-txt-cl);
  fill: var(--accent-txt-cl);
}

.hero {
  padding: 200px 0;
  text-align: center;
  background-color: #2f303a;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  background-image: -webkit-gradient(linear, right bottom, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-bg.jpg);
  background-image: linear-gradient(to left top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero__main {
  margin-bottom: 30px;
  min-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--hero-button-text);
  background-color: var(--accent-txt-cl);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  -webkit-transition: color var(--transition), background-color var(--transition);
  transition: color var(--transition), background-color var(--transition);
}
.hero__button:hover, .hero__button:focus {
  color: var(--hero-button-text);
  background-color: var(--active-accent-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.about {
  background-color: var(--light-bg-cl);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__article {
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
}

.about__paragraph {
  line-height: 1.7142857143;
  color: var(--grey-cl);
}

.about__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.work {
  background-color: var(--white-cl);
  padding-top: 0;
}

.work__main {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  margin-left: auto;
  margin-right: auto;
}

.work__card--wrapper {
  position: relative;
}

.work__card--down {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__card--text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-wrapper);
}

.team {
  background-color: #f5f4fa;
}

.team__main {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  margin-left: auto;
  margin-right: auto;
}

.team__name {
  font-weight: 500;
  line-height: 1.1875;
  margin-bottom: 10px;
}

.team__list {
  padding: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__job {
  line-height: 1.1875;
  color: var(--grey-cl);
  margin-bottom: 16px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition: fill var(--transition), background-color var(--transition);
  transition: fill var(--transition), background-color var(--transition);
}
.social__link:hover, .social__link:focus {
  fill: var(--white-cl);
  background-color: var(--accent-txt-cl);
}

.company__title {
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.company__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4%;
  fill: #afb1b8;
  -webkit-transition: fill var(--transition), background-color var(--transition), border var(--transition);
  transition: fill var(--transition), background-color var(--transition), border var(--transition);
}
.company__link:hover, .company__link:focus {
  fill: var(--accent-txt-cl);
  border: 1px solid var(--accent-txt-cl);
}

.footer {
  background-color: var(--Color-background);
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 93px;
}

.footer__logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: var(--accent-txt-cl);
  display: inline-block;
  margin-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer__logo--span {
  color: yellow;
}

.address {
  line-height: 1.7142857143;
  color: var(--white-cl);
  text-decoration: none;
}

/* !!!!!!!footer-address!!!!!!! */
.address__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  font-weight: 400;
  line-height: 1.7142857143;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}

.address__link {
  color: var(--white-cl);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-txt-cl);
}

.contacts {
  color: var(--contact-cl);
}

/*footer__join-us section */
.join-us__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-cl);
  margin-bottom: 20px;
}

.join-us__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.join-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #484a50;
  fill: var(--white-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: fill var(--transition), background-color var(--transition);
  transition: fill var(--transition), background-color var(--transition);
}
.join-us__link:hover, .join-us__link:focus {
  fill: var(--white-cl);
  background-color: var(--accent-txt-cl);
}

/* footer-online */
.online__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.online__title {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.online__container--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.online__input {
  min-width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
}

.online__button--submit {
  min-width: 200px;
  height: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--accent-txt-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-cl);
  border: 1px solid var(--accent-txt-cl);
  border-radius: 4px;
  outline: transparent;
  gap: 10px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.online__button--submit:hover, .online__button--submit:focus, .online__button--submit:active {
  background-color: var(--active-accent-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.online__svg--submit {
  fill: var(--white-cl);
}/*# sourceMappingURL=main.css.map */