body {
    font-family: var(--main-font);
    color: var(--main-txt-cl);
    font-size: var(--general-font-size);
    line-height: 1.5;
    letter-spacing: 0.03em;
    background-color: var(--white-cl);
}

