:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --general-font-size: 14px;

    /* Text colors */
    --main-txt-cl: #212121;
    --accent-txt-cl: #2196f3;
    --white-cl: #ffffff;
    --grey-cl: #757575;
    --black-cl: #000000;
    --contact-cl: rgba(255, 255, 255, 0.6);
    --color-wrapper: #eeeeee;
    --active-accent-color: #1a81bd;
    /* hero-button-vars */
    --hero-button-text: #ffffff;

    /* background-color */
    --Color-background: #2f303a;

    /* transion */
    --modal-transition: 1500ms cubic-bezier(0.4, 0, 0.2, 1);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // index.html card-items
    --indexCurrentGap: 30px;
    --numberOfIndentations: 3;
    --indexNumberOfCards: 4;
    // portfolio.html card-items
    --portfolioCurrentGap: 30px;
    --portfolioNumberOfCards: 3;

}