.header {
    width: 100%;
    background-color: var(--white-cl);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    padding-bottom: 25px;
    padding-top: 24px;
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--accent-txt-cl);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.header__logo--span {
    color: #000000;
}

.header__nav {
    margin-right: 305px;
}

.nav__items {
    display: flex;
    gap: 50px;
}

.nav__item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
    transition: color var(--transition);
}

.nav__link {
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--black-cl);
    text-decoration: none;
    transition: var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
        fill: var(--accent-txt-cl);
    }
}

.nav__link--current {
    color: var(--accent-txt-cl);
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: var(--accent-txt-cl);
        border-radius: 2px;
        transition: color var(--transition);
    }
}

.contact__items {
    display: flex;
    gap: 30px;
}

.contact__item {
    gap: 10px;
    fill: var(--grey-cl);
    color: var(--grey-cl);
    transition: fill var(--transition), color var(--transition);
    &:hover,
    &:focus {
        color: var(--accent-txt-cl);
        fill: var(--accent-txt-cl);
    }
}