.hero {
    padding: 200px 0;
    text-align: center;
    background-color: #2f303a;
}

.hero__overlay {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to left top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.hero__main {
    margin-bottom: 30px;
    min-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

.hero__button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--hero-button-text);
    background-color: var(--accent-txt-cl);
    cursor: pointer;
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition);
    &:hover,
    &:focus {
        color: var(--hero-button-text);
        background-color: var(--active-accent-color);
        transition: var(--transition);
    }
}

