.hero {
	padding: 118px 60px;
	@include tablet {
		padding: 118px 204px;
	}
	@include desktop {
		padding: 200px 452px;
	}
	text-align: center;
	background-color: #2f303a;
}

.hero__overlay {
	width: 480px;
	height: 400px;
	background-image: var(--heroBackgroundGradient),
		url(/images/hero/hero__mobile/Hero_mobile.jpg);
	background-size: 480px 400px;
	@include retina2x {
		background-image: var(--heroBackgroundGradient),
			url(/images/hero/hero__mobile/Hero-mobile2x.jpg);
	}

	@include tablet {
		width: 768px;
		height: 400px;
		background-image: var(--heroBackgroundGradient),
			url(/images/hero/hero__tablet/Hero_tablet.jpg);
		background-size: 768px 400px;
		@include retina2x {
			background-image: var(--heroBackgroundGradient),
				url(/images/hero/hero__tablet/Hero-tablet2x.jpg);
		}
	}

	@include desktop {
		width: 1600px;
		height: 600px;
		background-image: var(--heroBackgroundGradient),
			url(/images/hero/hero__desktop/hero-bg__desktop.jpg);
		background-size: 1600px 600px;
		@include retina2x {
			background-image: var(--heroBackgroundGradient),
				url(/images/hero/hero__desktop/Hero-desktop2x.jpg);
		}
	}

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

.hero__main {
	min-width: 360px;
	@include desktop {
		min-width: 696px;
	}
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.hero__button {
	// max-width: 200px;
	// max-height: 50px;
	padding: 10px 24px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	color: var(--hero-button-text);
	background-color: var(--accent-txt-cl);
	cursor: pointer;

	border: none;
	border-radius: 4px;
	transition: color var(--transition), background-color var(--transition);
	&:hover,
	&:focus {
		color: var(--hero-button-text);
		background-color: var(--active-accent-color);
		transition: var(--transition);
	}
	@include desktop {
		// max-width: 216px;
		padding: 10px 32px;
	}
}
