.team {
    background-color: #f5f4fa;
}

.team__main {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-left: auto;
    margin-right: auto;
}

.team__name {
    font-weight: 500;
    line-height: calc(19 / 16);
    margin-bottom: 10px;
}

.team__list {
    padding: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__job {
    line-height: calc(19 / 16);
    color: var(--grey-cl);
    margin-bottom: 16px;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    background-color: #ffffff;
    border-radius: 50%;
    transition: fill var(--transition), background-color var(--transition);
    &:hover,
    &:focus {
        fill: var(--white-cl);
        background-color: var(--accent-txt-cl);
    }
}

